<div class="row">
  <div class="large-12 large-centered columns">
    <div class="panel">
      <h3 class="subheader text-center">Welcome to Reverse It</h3>
      <p class="text-center">Enter text into the form below to get it reversed.<br />
      Example <strong>Reverse It</strong> becomes <strong>tI esreveR</strong></p>
      <form action="/" method="post">
        <div class="large-8 large-centered columns">
          <input type="text" name="post[message]" placeholder="Enter Text to Be Reversed and Press Enter">
        </div>
      </form>
      <div class="row">
        <div class="large-9 large-centered columns">
          <div class="panel">
            <p class="text-center"><%= @reversed %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
