<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reverse It</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Simple Word Reverser Application">
    <meta name="author" content="Meagan Waller">

    <link href="/css/foundation.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>
    <body>
      <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="/">Reverse It</a></h1></li>
      </ul>
      </nav>
      <div class="row">
        <div class="large-12 columns">
          <h1><%= @title %></h1>
          <%= yield %>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script src="/js/reversal.js"></script>
      </body>
    </html>

